@page
@model PrivacyModel
@{
    ViewData["Title"] = "Author information";
}
<h1>@ViewData["Title"]</h1>

<p>Variable Length Subnet Mask Calculator</p>
<p>Is Created by Ivan Markovski</p>
<p>Student at University American College Skopje</p>
<p>School for Compute Science and Information Technology</p>
<p>I.D: 4286</p>