@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Variable Length Subneting</h1>
    <p>Learn about VLSM <a href="https://www.comparitech.com/net-admin/variable-length-subnet-mask-vlsm-tutorial/"> on following link</a>.</p>
</div>
<div class="text-center">
    <img src="World-of-Computers.jpg" alt="Network Image" />
</div>